@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

/* colors */
:root {
  --danger: rgb(255, 50, 50);    
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, html {    
  height: 100%;     
}

body {
  font-family: 'Josefin Sans', sans-serif;   
  margin: 0;
  padding: 0;  
  
  /* bg */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
              url("https://images.unsplash.com/photo-1535898331935-2d274aff0fbc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1550&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;     
}

p, ul {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

/* this breaks accessibility, see below for two different solutions */
/* https://hackernoon.com/removing-that-ugly-focus-ring-and-keeping-it-too-6c8727fefcd2 */
/* https://hackernoon.com/one-line-of-code-to-remove-focus-blue-outline-and-keep-accessibility-bca3ccea9892 */
button, input, textarea:focus {
  outline: none;
}

#loading-bg {   
  width: 100%;
  height: 100%;
  position: fixed;
  background: var(--danger);
  z-index: 9999;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;    
}

#loading-spinner {
  animation: rotate 0.56s infinite linear;
  width: 7rem;
  height: 7rem;
  border: 1.4rem solid #fff;
  border-bottom: 1.4rem solid var(--danger);
  border-radius: 50%;  
}

@keyframes rotate {
  0% { 
    transform: rotate(0deg); 
  }
  100% { 
    transform: rotate(360deg);
  }
}

#boxes {
  width: 100%;
  height: 100%;
  position: fixed;  
  z-index: 999;
  display: flex;
}

#boxes div {  
  display: inline-block;
  width: calc(100% / 6);
  background: var(--danger);
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;   
}

#middle {
  position: fixed;
  display: flex;
  width: 100%;
  height: 90%;  
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  z-index: 9;

  /* wait for loading and box animations */
  animation-delay: 1.5s;
}

#title {
  font-size: 7rem;
  margin-bottom: 2rem;
  color: var(--danger);
}

#subtitle {
  font-size: 2.8rem;
  margin-top: 3rem;
  color: #fff;
}

.menu {
  list-style-type: none;  
  display: none;
  justify-content: space-around; 
  font-size: 2.4rem;  
  padding-left: 0; 
  margin-right: auto;
  margin-left: auto;  
  /* margin-top: 4rem; */
}

.menu-item {
  transition: transform 0.3s;
}

.menu-item a {  
  cursor: pointer;
  color: white;
  text-decoration: underline;  
}

.menu-item:hover {  
  transform: scale(1.2);    
}

.social {
  list-style-type: none;  
  display: flex;
  justify-content: space-around;  
  font-size: 2.4rem;  
  padding-left: 0;
  width: 20%;
  margin-right: auto;
  margin-left: auto;
}

.social-item {
  /* wait for middle slideIn animation */
  animation-delay: 2s;  
}

.social-item a {
  cursor: pointer;
  color: white;
  transition: 0.3s ease-in;
}

.social-item a:hover {  
  color: var(--danger);    
}

.section-link {
  color: white;
  font-size: 3rem;
  animation-delay: 2s;
  z-index: 99;  
  transition: 0.3s ease-in;
  cursor: pointer;  
  height: 9.5vw;
  width: 9.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  text-align: center;  
}

#about {
  position: fixed;
  left: 0;
  bottom: 40%;  
  transform: rotate(-90deg);     
  border-radius: 0 0 100% 100%;  
}

#about:hover {  
  background: var(--danger);
}

#contact {
  position: fixed;
  left: 45%;
  bottom: 0;      
  border-radius: 100% 100% 0 0;  
}

#contact:hover {  
  background: var(--danger);
}

#work {
  position: fixed;
  right: 0;
  bottom: 40%; 
  transform: rotate(90deg);
  border-radius: 0 0 100% 100%;     
}

#work:hover {
  background: var(--danger);
}

.section-container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: var(--danger);
  display: none;
  color: white;  
  padding: 5% 15%;
}

.close-arrow a {
  font-size: 3.8rem;
  margin-bottom: 5rem;  
  text-decoration: none;
  color: white;
}

.close-arrow:hover {
  cursor: pointer;
}

.section-title {
  font-size: 6rem;
  text-decoration: underline;  
  margin-bottom: 5rem;
}

.section-subtitle {
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.section-content {
  padding-left: 2rem;
  padding-right: 2rem;
}

.sender-container {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem;  
}

.sender-info {
  border: 0px;
  width: 48%;
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  padding: 8px 10px;
  background: transparent;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
}

.sender-info::placeholder,
#contact-form textarea::placeholder {
  color: white;
}

#contact-form textarea {
  background: transparent;
  border: none;
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  color: white;
  font-size: 2rem;
  font-weight: 700;
  width: 100%;  
  font-family: inherit;
  margin-bottom: 2rem;
}

#contact-form textarea::selection {
  background-color: #fff;
}

.sent-alert {
  display: none;
}

/* buttons */
.btn-round {
  font-size: 1.8rem;
  font-family: inherit;
  color: white;
  background: transparent;
  border: 3px solid white;
  padding: 0.8rem 4rem;
  border-radius: 8rem;
  font-weight: 700;
  margin: 1rem 1rem;
  transition: 0.3s ease-in;
  cursor: pointer;
}

.btn-round:hover {  
  color: var(--danger);
  background: #fff;
}

@media (max-width: 1200px) {
  .social {
    width: 45%;
  }

  #contact {
    height: 11vw;
    width: 11vw;
  }
}

@media (max-width: 1050px) { 
  .section-link {
    animation-delay: 0s;
    display: none;
  }  

  .menu {
    display: flex;
    width: 50%;
  }

  .section-container {   
    padding: 8% 12%;
  }
}

@media (max-width: 800px) {
  .social {
    width: 70%;
  }

  .menu {    
    width: 70%;
  }

  #middle {
    padding: 3%;
  }

  .section-container {   
    padding: 4%;
  }

  .section-subtitle {
    padding: 0;
  }

  .section-content {
    padding: 0;
  }
}

